{% extends '::base.html.twig' %}

{% block title %} Categoría {% endblock %}

{% block body %}
    <table>
        <tr>
            <td>id</td>
            <td>nombre</td>
            <td>Descripción</td>
            <td>fecha creación</td>
            <td>fecha actualización</td>
            <td></td>
            <td></td>
        </tr>
        {% for cat in categories %}
            <tr>
                <td>{{ cat.id }}</td>
                <td>{{ cat.nombre }}</td>
                <td>{{ cat.descripcion }}</td>
                <td>{{ cat.createdAt |date("d/m/Y H:i:s") }}</td>
                <td>{{ cat.updatedAt |date("d/m/Y H:i:s") }}</td>
                <td><a href="{{ path('app_categoria_update', {'id': cat.id}) }}">Update</a> </td>
                <td><a href="{{ path('app_categoria_remov', {'id': cat.id}) }}">Eliminar</a> </td>
            </tr>
        {% endfor %}
        <tr>
            <td><a href="{{ path('app_categoria_nuevo') }}">Nueva</a> </td>
        </tr>
    </table>
    <a href="{{ path('app_home_index') }}">Home</a>
{% endblock %}